# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Exasol/obj/Release/Exasol.m
Exasol/obj/Release/Exasol16.png
Exasol/obj/Release/Exasol20.png
Exasol/obj/Release/Exasol32.png
Exasol/obj/Release/Exasol64.png
Exasol/obj/Release/resources.resx
Exasol/obj/Release/Exasol24.png
Exasol/obj/Release/Exasol40.png
Exasol/obj/Release/Exasol80.png
Exasol/obj/Release/Exasol48.png
.vs/Exasol/
.vs
Exasol/bin/Debug/Exasol.mez
